node_modules/
.env

# Documentation
docs/

# History
.history/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
coverage/
